.Banner{
    width: 100%;
    margin: auto;
    height: 40vh;

   .carousel{
    
    // clip-path: polygon(0 0, 100% 0, 86% 100%, 14% 100%);
    // background-color: #2F4050;
    // background-image: url('https://bogatyr.club/uploads/posts/2023-03/1679105753_bogatyr-club-p-fon-stena-s-polom-foni-pinterest-1.jpg');
    
    width: 100%;
    

    .carousel-inner{
        
        .carousel-item{
            
            width: 100%;
            height: 70vh;
            
            
            img{
                object-fit: cover;
                height: 70vh;
                opacity: 1;
                width: 100%;
                
                
               
            }
    
            h1{
                color: #009148;
            }
    
        }
    }
    
   }
}

@media screen and (min-width: 279px) and (max-width: 431px) {
    .Banner {
        width: auto;
        
        .carousel{
            .carousel-inner{
                .carousel-item{
                    height: 40vh;
    
                    img{
                        height: 40vh;
                    }
                }
            }
            height: 40vh;
            width: auto;
        }
    }
}

@media screen and (min-width: 540px) and (max-width: 1281px){
    .Banner{
        width: auto;

        .carousel{
            .carousel-inner{
                .carousel-item{
                    height: 40vh;

                    img{
                        height: 40vh;
                    }
                }
            }
        }
    }
}